body
{
    background-color: linen;
}

h1, h2, h3 
{
    color: orange;
}

table, th, td 
{
    border: 1px solid black;
}

.nav{
    display:flex;
    justify-content: space-around;
    width:90vw;
    background:pink;
    height: 30px;
}

.nav1
{
    display:flex;
    justify-content: center;
    width: 9,5%;
    height: 30px;
    background:black;
    position:absolute;
    left:5%;
}

.link
{
    text-decoration: none;
    padding:1rem;
    background:lightpink;
    color:blue;
    align-items: center;
    justify-content: center;
    display:flex;
}

.link:hover{background-color:gray;}

.item
{
    display:flex;
    align-items: center;
    flex-direction: column;
}