body /*used as styling for whole body in page*/
{
    background-color: linen;
}

h1, h2 /*used as styling for excerceses' and 'Used SQL function'*/
{
    color: orange;
}

h4 /*used as styling for 'current page' info on a top of the page */
{
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h4 /*used as styling of student info in index.php*/
{
    color:orange;
    display:flex;
    flex-direction:column;
    align-items:center;
}

table, th, td /*used as styling for SQL tables in PHP*/
{
    border: 1px solid black;
}

.nav /*used as nav links button styling*/
{
    display:flex;
    justify-content: space-around;
    width:90vw;
    background:pink;
    height: 30px;
}

.nav1 /*used as nav links button styling*/
{
    display:flex;
    justify-content: center;
    width: 9,5%;
    height: 30px;
    background:black;
    position:absolute;
    left:5%;
}

.link
{
    text-decoration: none;
    padding:1rem;
    background:lightpink;
    color:blue;
    align-items: center;
    justify-content: center;
    display:flex;
}

.link:hover{background-color:gray;}

.item
{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.form_dDB_delete_button /*used as SQL delete button styling in daneDoBazy.php*/
{
    align-items:center;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color:#c62d1f;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.form_dDB_delete_button:hover /*used as SQL delete button styling in daneDoBazy.php*/
{
    align-items:center;
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
.form_dDB_delete_button:active /*used as SQL delete button styling in daneDoBazy.php*/
{
    align-items:center;
    position:relative;
    top:1px;
}