body /*used as styling for whole body in page*/
{
    background-color: linen;
}

h1, h2 /*used as styling for excerceses' and 'Used SQL function'*/
{
    color: orange;
}

h4 /*used as styling for 'current page' info on a top of the page */
{
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h4 /*used as styling of student info in index.php*/
{
    color:orange;
    display:flex;
    flex-direction:column;
    align-items:center;
}

table, th, td /*used as styling for SQL tables in PHP*/
{
    border: 1px solid black;
}

.nav /*used as nav links button styling*/
{
    display:flex;
    justify-content: space-around;
    width:90vw;
    background:pink;
    height: 30px;
}

.nav1 /*used as nav links button styling*/
{
    display:flex;
    justify-content: center;
    width: 9,5%;
    height: 30px;
    background:black;
    position:absolute;
    left:5%;
}

.link
{
    text-decoration: none;
    padding:1rem;
    background:lightpink;
    color:blue;
    align-items: center;
    justify-content: center;
    display:flex;
}

.link:hover{background-color:gray;}

.item
{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.form_dDB_delete_button /*used as SQL delete button styling in daneDoBazy.php*/
{
    display:flex;
    flex-direction:column;
    align-items:center;
}