body /*used as styling for body in index.php*/
{
    background-image: url("https://i.pinimg.com/originals/a1/19/a9/a119a95d0275ce9666721f61d8cbacf2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
  
audio /*used as styling to hide audio playblack*/ 
{
    display: none;
}

.container 
{
    display: flex;
    flex-wrap: wrap;
}
  
.item 
{
    width: 200px;
    height: 100px;
    margin: 10px;
}
  
.colorRed 
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.colorBlue
{
    width: auto;
    max-width: 20%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: column;
    flex-direction: column;
}
  
.colorGreen 
{
    width: auto;
    max-width: 70%;
    height: auto;
    overflow: hidden;  
}
  
.nav /*used as nav styling*/ 
{
    display: flex;
    justify-content: space-around;
}
  
.nav_icon /*used for nav icons*/ 
{
    height: 30px;
    width: 30px;
}
  
.link /*used as nav links styling*/ 
{
    text-decoration: none;
    height: 50px;
    width: 220px;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 11px;
}
  
.link:hover /*used as nav links hover styling*/
{
    background-color: rgb(255, 255, 255, 0.3);
}
  
.page_info /*used as styling for info about current page for end user*/
{
    align-items: center;
    text-shadow: 5px 5px 5px black;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container8 
{
    background-color: purple;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 800px;
    justify-content: flex-start;
}
  
.boxy 
{
    background-color: orange;
    margin: 1px;
    width: 100px;
    height: 100px;
    display: flex;
}

.boxz 
{
    background-color: aqua;
    margin: 1px;
    width: 100px;
    height: 100px;
    display: flex;
}